body {
    margin: 0;
    /* set width to 100vh so that available width when filled makes a square */
    width: 100vh;
    /* moves container to centre of screen */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 30px;
    width: 150px;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid black ;
    /* include border in size calculation for box */
    box-sizing: border-box;
}
